<div>
    <h1 id="title">ecommerce</h1>
</div>
<div>
    <input id="chatbox">
    <p id="messageLogs"></p>
</div>
<script src="/socket.io/socket.io.js"></script>
<script src="/files/js/chat.js"></script>